<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="https://www.flaticon.com/free-icons/clip" title="clip icons">Clip icons created by Freepik - Flaticon</a>
    <br>
    <a
        href="https://unsplash.com/photos/water-droplets-on-green-leaf-XWtLafKscik?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash">Credit
        to feey on Unsplash</a>
    <br>
    Photo by <a
        href="https://unsplash.com/@ilyapavlov?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Ilya
        Pavlov</a> on <a
        href="https://unsplash.com/photos/monitor-showing-java-programming-OqtafYT5kTw?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>


</body>

</html>