<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/design-page.css">
  <link rel="stylesheet" href="/styles/fonts.css">
  <link rel="stylesheet" href="/styles/scroll.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/styles/designSection.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.css" />
  <link rel="stylesheet" href="/styles/colors.css">
  <!-- Include jQuery before Spectrum -->
  <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
  <!-- Include Spectrum script -->
  <script src="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.js"></script>

  <!-- editor.js-->
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@2.8.1/dist/header.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/paragraph@2.11.3/dist/paragraph.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@1.9.0/dist/list.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@2.6.0/dist/quote.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/underline@1.1.0/dist/bundle.min.js"></script>



  <title>LinkserV | Your Design Page</title>

</head>

<body>
  <div class="sidebar">
    <h2>Welcome Back!</h2>
    <div class="icontext"><a href="/" class="reftext"><i class="fa-solid fa-backward"></i> Back To LinkserV</a></div>
    <ul>
      <li><a href="#view" class="menu-link"><i class="fas fa-eye"></i> View</a></li>
      <li><a href="#design" class="menu-link"><i class="fas fa-paint-brush"></i> Design</a></li>
      <li><a href="#presets" class="menu-link"><i class="fas fa-palette"></i> Presets</a></li>
      <li><a href="#background" class="menu-link"><i class="fas fa-image"></i> Background</a></li>
      <li><a href="/logout" class="menu-link"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>

      <!-- Add more menu items as needed -->
    </ul>
  </div>

  <!-- Design elements and content go here -->

  <div class="content" id="viewSection">

    <div class="content-navbar">
      <div class="navbar-content">
        <button class="navbar-info" onclick="openInfoModal()">
          <i class="fas fa-info-circle"></i>&nbsp;Info
        </button>
        <div class="navbar-text">
          <div id="dynamic-nav-text"></div>
        </div>
        <div class="navbar-share" onclick="openShareModal()">
          <i class="fas fa-share"></i>&nbsp;Share
        </div>
      </div>
    </div>
    <div class="profile-content">
      <!-- pfp handler-->
      <div class="profile-picture-container">
        <div class="profile-picture-overlay" id="editOverlay">
          <i class="fas fa-pencil-alt" id="editIcon"></i>
        </div>
        <img src="https://t3.ftcdn.net/jpg/00/64/67/80/360_F_64678017_zUpiZFjj04cnLri7oADnyMH0XBYyQghG.jpg"
          id="profileImage" alt="profile-picture">
      </div>

      <div id="dynamicUsername"></div>

      <div id="social-links-dynamic" style="margin-top: 50px;">
        <!-- Social media buttons are added here -->
      </div>

      <div id="customButtonsContainer" class="draggable-container">
        <!-- Custom buttons will be added here dynamically -->
      </div>

      <div id="text-field-container">
        <!-- Text fields will be dynamically added here-->
      </div>
      <div id="images-container">
        <!-- The Gallery will be placed here-->

      </div>
      <button id="addElementButton">Add Element</button>
    </div>

  </div>

  <div class="content" id="designSection" style="display: none;">
    <div id="designModification">
      <h1>Design Your Page</h1>

      <div class="design-cards-container">
        <div class="design-card" data-animation="neon">
          Neon
          <button class="design-button a-neon">Neon animation</button>
        </div>
        <div class="design-card" data-animation="angleBg">
          Angle Background
          <button class="design-button a-angle-bg">Angle Background animation</button>
        </div>
        <div class="design-card" data-animation="shadow">
          Shadow
          <button class="design-button a-shadow">Shadow animation</button>
        </div>
        <div class="design-card" data-animation="pulse">
          Pulse
          <button class="design-button a-pulse">Pulse animation</button>
        </div>
        <div class="design-card" data-animation="gradient">
          Gradient
          <button class="design-button a-gradient">Gradient animation</button>
        </div>
      </div>

      <div class="preview-button" id="customButton">Click me!</div>
    </div>
  </div>



  <div class="content" id="backgroundSection" style="display: none;">
    <!-- Inside  #backgroundSection -->
    <div id="backgroundModification">
      <h1>Background Modification</h1>

      <div class="card-container">
        <div id="colorCard" class="card">
          <h2>Static Color</h2>
          <label for="staticColor">Select Color:</label>
          <input type="color" id="staticColor">
          <button id="apply" onclick="applyStaticColor()">Apply Color</button>
        </div>

        <div id="gradientCard" class="card">
          <h2>Gradient</h2>
          <label for="gradientStart">Start Color:</label>
          <input type="color" id="gradientStart">

          <label for="gradientEnd">End Color:</label>
          <input type="color" id="gradientEnd">

          <label for="gradientDirection">Gradient Direction:</label>
          <select id="gradientDirection">
            <option value="to right">Left to Right</option>
            <option value="to left">Right to Left</option>
            <option value="to bottom">Top to Bottom</option>
            <option value="to top">Bottom to Top</option>
            <option value="to bottom right">Top Left to Bottom Right</option>
            <option value="to bottom left">Top Right to Bottom Left</option>
            <option value="to top right">Bottom Left to Top Right</option>
            <option value="to top left">Bottom Right to Top Left</option>
            <!-- Add more options as needed -->
          </select>

          <div id="gradientPreview" class="preview-container">
            <div id="gradientPreviewInner" class="image-preview"></div>
          </div>

          <button id="apply" onclick="applyGradient()">Apply Gradient</button>
        </div>

        <div id="imageCard" class="card">
          <h2>Custom Image</h2>
          <div class="file-input-container">
            <input type="file" id="backgroundImage" class="custom-file-input" accept="image/*" />
            <label for="backgroundImage" class="custom-file-label">Choose File</label>
          </div>

          <!-- Add this preview element -->
          <div class="preview-container">
            <div id="imagePreview" class="image-preview" style="display: none;"></div>
          </div>
          <label for="imageUrl">Or Enter Image URL:</label>
          <input type="url" id="imageUrl" placeholder="https://example.com/image.jpg">

          <button id="apply" onclick="applyCustomImage()">Apply Image</button>
          <button class="remove-image-button" onclick="removeImage()">Remove Image</button>
        </div>
      </div>

    </div>

  </div>


  <div id="messageFeed" class="message-feed"></div>




  <!-- Scripts & Utils -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"
    integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="/scripts/share.js"></script>
  <script src="/scripts/pfp.js"></script>

  <!-- smart system cases -->
  <script src="/scripts/feed.js"></script>

  <script src="/scripts/addElement.js"></script>
  <script src="/scripts/dynamicContent.js" defer></script>

  <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
  <script src="/scripts/dropzone.js"></script>

  <!-- Include color picker script -->
  <script src="/scripts/colorpick.js"></script>
  <script src="/scripts/socialMedia.js"></script>


  <!-- Editor.js library -->
  <script src="/scripts/textField.js"></script>
  <script src="/scripts/editor.js"></script>

  <!-- Buttton handlig -->
  <script src="/scripts/btnprops.js"></script>

  <!-- Section Menus for design -->
  <script src="/scripts/sectionManagement.js"></script>
  <script src="/scripts/designSection.js"></script>




  <div class="modal" id="shareModal">
    <div class="modal-content">
      <span class="close" onclick="closeShareModal()">&times;</span>
      <h2 id="share-dynamic-text"></h2>
      <div id="shareModalContent">

        <!-- Add more share buttons as needed -->
      </div>
      <div id="copyLinkContainer">
        <button id="copyLinkInput" onclick="copyLinkToClipboard()">
          <i class="fa-solid fa-link"></i>
          <span id="url-address"></span>
          <span id="copyStatus">Copy</span>
      </div>
      <hr class="modal-divider">

      <div class="additional-section">
        <h3>Create Your Own LinkserV page</h3>
        <p>Design & Customize with ease</p>
        <a href="/Signup" class="black-button">Sign Up</a>
        <a href="/" class="find-out-more-button">Find Out More</a>
      </div>
    </div>
  </div>



</body>

<div class="modal" id="addElementModal">
  <div class="modal-content" id="element-content">
    <span class="close" onclick="closeAddElementModal()">&times;</span>
    <h2>Which element do you want to add?</h2>

    <!-- Example elements to add -->
    <div class="buttons-container">
      <button onclick="addElement('button')"><i class="fas fa-square"></i> <span>Add Button</span></button>
      <button onclick="addElement('textfield')"><i class="fas fa-font"></i><span>Add Text Field</span> </button>
      <button onclick="addElement('image')"><i class="fas fa-image"></i><span>Add image</span></button>
      <button onclick="addElement('social')"><i class="fas fa-share-alt"></i><span>Add Social Media
          Icon</span></button>
    </div>
  </div>
</div>




<div class="modal" id="infoModal">
  <div id="infoModalContent" class="modal-content">
    <label for="pageInfo" id="info-label">Page Info:</label>
    <div class="textarea-container">
      <textarea id="pageInfo" rows="4" placeholder="Write something about your page or yourself..." maxlength="200"
        oninput="updateInfo() ; charCount();"></textarea>

      <!-- Character count span -->
      <span class="char-count">0/200</span>
    </div>

    <div id="previewSection">
      <h3>Here's what people will see on your page:</h3>
      <div id="previewInfo"></div>
    </div>

    <button onclick="updateInfo()">Save Changes</button>
    <button class="close-btn" onclick="closeInfoModal()">Close</button>
  </div>
</div>



<div class="modal" id="shareModal">
  <div class="modal-content">
    <span class="close" onclick="closeShareModal()">&times;</span>
    <h2 id="share-dynamic-text"></h2>
    <div id="shareModalContent">

      <!-- Add more share buttons as needed -->
    </div>
    <div id="copyLinkContainer">
      <button id="copyLinkInput" onclick="copyLinkToClipboard()">
        <i class="fa-solid fa-link"></i>
        <span id="url-address"></span>
        <span id="copyStatus">Copy</span>
    </div>
    <hr class="modal-divider">

    <div class="additional-section">
      <h3>Create Your Own LinkserV page</h3>
      <p>Design & Customize with ease</p>
      <a href="/Signup" class="black-button">Sign Up</a>
      <a href="/" class="find-out-more-button">Find Out More</a>
    </div>
  </div>
</div>


<div class="modal" id="customizeElementModal">
  <div class="modal-content" id="customize-element-content">
    <span class="close" onclick="closeCustomizeElementModal()">&times;</span>
    <h2 id="modalTitle" style="margin: 3px;">Customize Element</h2>

    <div id="image-modal">
      <!-- Text customization section -->
      <div id="textEditSection">
        <label for="elementText">Text:</label>
        <input type="text" id="elementDescription" placeholder="Tip: keep it short!">
      </div>

      <!-- Image customization section -->
      <div id="imageEditSection">
        <label for="elementImage">Image URL:</label>
        <input type="text" id="imageUrl" placeholder="Or enter a URL...">
        <form action="/file-upload" id="dropzone" class="dropzone"></form> <!-- Dropzone container -->
      </div>


      <button id="applyChangesButton">Apply Changes</button>
    </div>

    <!-- Social Media Icon customization section -->
    <div id="socialMediaEditSection" style="display: none;">

      <div class="form-group">
        <label for="socialMediaPlatform">Social Media Platform:</label>
        <div id="socialMediaSearchContainer"></div>
        <select id="socialMediaPlatform" class="platform-select">
          <!-- Social Media -->
          <option value="facebook">Facebook</option>
          <option value="twitter">Twitter</option>
          <option value="instagram">Instagram</option>
          <option value="linkedin">LinkedIn</option>
          <option value="youtube">YouTube</option>
          <option value="pinterest">Pinterest</option>
          <option value="snapchat">Snapchat</option>
          <option value="tiktok">TikTok</option>
          <option value="reddit">Reddit</option>
          <option value="whatsapp">WhatsApp</option>
          <option value="behance">Behance</option>
          <option value="dribbble">Dribbble</option>

          <!-- Music Platforms -->
          <option value="spotify">Spotify</option>
          <option value="soundcloud">SoundCloud</option>
          <option value="apple-music">Apple Music</option>
          <option value="bandcamp">Bandcamp</option>

          <!-- Forums and Others -->
          <option value="github">GitHub</option>
          <option value="discord">Discord</option>
          <option value="slack">Slack</option>
          <option value="tumblr">Tumblr</option>
          <option value="quora">Quora</option>
          <option value="stack-overflow">Stack Overflow</option>
          <option value="steam">Steam</option>
          <option value="etsy">Etsy</option>
          <option value="paypal">PayPal</option>
          <option value="twitch">Twitch</option>
          <option value="telegram">Telegram</option>
        </select>
        <div id="optionsDiv"></div>
      </div>

      <label for="href-text">URL:</label>
      <input type="url" name="href-text" id="href-text">
      <div class="form-group">

        <h3 style="margin: 0;">Button Color:</h3>
        <div class="wrapper">
          <div class="gradient-box"></div>
          <div class="row options">
            <div class="column direction">
              <p>Direction</p>
              <div class="select-box" id="directionSelect">
                <select>
                  <option value="to top">Top</option>
                  <option value="to right top">Right top</option>
                  <option value="to right">Right</option>
                  <option value="to right bottom">Right bottom</option>
                  <option value="to bottom">Bottom</option>
                  <option value="to left bottom">Left bottom</option>
                  <option value="to left">Left</option>
                  <option value="to left top" selected>Left top</option>
                </select>
              </div>
            </div>
            <div class="column palette">
              <p>Colors</p>
              <div class="colors">
                <input type="color" value="#5665E9">
                <input type="color" value="#A271F8">
              </div>
            </div>
          </div>
        </div>

        <!-- Icon color modifier -->
        <div id="textColorSection" style="display: none;">
          <div class="form-group">
            <label for="text-color">Icon Color:</label>
            <div id="textColorSearchContainer"></div>
            <select id="text-color" class="text-color-select">
              <!-- Generated color options with classes -->
              <option value="plain-white" data-demo="white">Plain White</option>
              <option value="pastel-red" data-demo="Pastel Red">Pastel Red</option>
              <option value="pastel-orange" data-demo="Pastel Orange">Pastel Orange</option>
              <option value="pastel-yellow" data-demo="Pastel Yellow">Pastel Yellow</option>
              <option value="pastel-green" data-demo="Pastel Green">Pastel Green</option>
              <option value="pastel-blue" data-demo="Pastel Blue">Pastel Blue</option>
              <option value="lavender" data-demo="Lavender">Lavender</option>
              <option value="mint-green" data-demo="Mint Green">Mint Green</option>
              <option value="peach" data-demo="Peach">Peach</option>
              <option value="sky-blue" data-demo="Sky Blue">Sky Blue</option>
              <option value="rose-pink" data-demo="Rose Pink">Rose Pink</option>
              <option value="aqua" data-demo="Aqua">Aqua</option>
              <option value="lilac" data-demo="Lilac">Lilac</option>
              <option value="coral" data-demo="Coral">Coral</option>
              <option value="sunflower-yellow" data-demo="Sunflower Yellow">Sunflower Yellow</option>
              <option value="turquoise" data-demo="Turquoise">Turquoise</option>
              <option value="cherry-blossom-pink" data-demo="Cherry Blossom Pink">Cherry Blossom Pink</option>
              <option value="pearl-white" data-demo="Pearl White">Pearl White</option>
              <option value="sage-green" data-demo="Sage Green">Sage Green</option>
              <option value="mustard-yellow" data-demo="Mustard Yellow">Mustard Yellow</option>
              <option value="teal" data-demo="Teal">Teal</option>
              <option value="blush" data-demo="Blush">Blush</option>
              <option value="periwinkle" data-demo="Periwinkle">Periwinkle</option>
              <option value="amber" data-demo="Amber">Amber</option>
              <option value="slate-gray" data-demo="Slate Gray">Slate Gray</option>
              <option value="burgundy" data-demo="Burgundy">Burgundy</option>
              <option value="ivory" data-demo="Ivory">Ivory</option>
              <option value="olive" data-demo="Olive">Olive</option>
              <option value="crimson" data-demo="Crimson">Crimson</option>
              <option value="powder-blue" data-demo="Powder Blue">Powder Blue</option>
              <option value="sepia" data-demo="Sepia">Sepia</option>
              <option value="azure" data-demo="Azure">Azure</option>
              <option value="marigold" data-demo="Marigold">Marigold</option>
              <option value="sienna" data-demo="Sienna">Sienna</option>
              <option value="mauve" data-demo="Mauve">Mauve</option>
              <option value="charcoal" data-demo="Charcoal">Charcoal</option>
              <option value="tangerine" data-demo="Tangerine">Tangerine</option>
              <option value="eggshell" data-demo="Eggshell">Eggshell</option>
              <option value="cobalt-blue" data-demo="Cobalt Blue">Cobalt Blue</option>
              <option value="magenta" data-demo="Magenta">Magenta</option>
              <option value="pistachio" data-demo="Pistachio">Pistachio</option>
              <option value="topaz" data-demo="Topaz">Topaz</option>
              <option value="cyan" data-demo="Cyan">Cyan</option>
              <option value="brick-red" data-demo="Brick Red">Brick Red</option>
              <option value="emerald-green" data-demo="Emerald Green">Emerald Green</option>
              <option value="plum" data-demo="Plum">Plum</option>
              <option value="coral-pink" data-demo="Coral Pink">Coral Pink</option>
              <option value="caramel" data-demo="Caramel">Caramel</option>
              <option value="mulberry" data-demo="Mulberry">Mulberry</option>
              <option value="steel-blue" data-demo="Steel Blue">Steel Blue</option>
              <option value="goldenrod" data-demo="Goldenrod">Goldenrod</option>
              <!-- Add more color options as needed -->
            </select>
          </div>
        </div>
      </div>
      <button id="addSocialMediaButton" onclick="saveSocialMediaButton()">Add Social Media Icon</button>
      <button id="saveChangesButton" style="display: none" onclick="updateSocialMediaButton()">Save Changes</button>
      <button id="socialDelete" style="display: none; background-color: rgb(170, 16, 16);"
        onclick="deleteSocialMediaButton()">Delete <i class="fa-solid fa-trash"></i></button>

    </div>

    <div id="textFieldSection" style="display: none;">

      <h3>Edit your text here, and then press "Create Text Field"!</h3>
      <!-- Text field form -->
      <div id="editorjs"></div>

      <!-- Additional options can be added as needed -->
      <label for="fontSelect">Select A Font</label>
      <select name="fontSelect" id="fontSelect">
        <!-- fonts will be dynamically loaded here -->
      </select>

      <button id="addTextField" type="button" onclick="handleEditor()">Create Text Field</button>


    </div>
    <div id="buttonSection" style="display: none;">
      <label for="buttonText">Button text:</label>
      <input type="text" name="buttonText" id="buttonText" />

      <div for="buttonStyle">Button style:</div>

      <!-- Button Styles Preview Cards -->
      <div id="buttonStyleCards">
        <!-- Style 1 -->
        <div class="button-style-card" onclick="selectButtonStyle('button1')">
          <button class="button1" style="margin-bottom: 20px;"> Learn More
          </button>
          <p>Hard Press</p>
        </div>

        <!-- Style 2 -->
        <div class="button-style-card" onclick="selectButtonStyle('button2')">
          <div class="button2">Hover Me</div>
          <p>Rise Up</p>
        </div>

        <!-- Style 3 -->
        <div class="button-style-card" onclick="selectButtonStyle('button3')">
          <button class="button3" style="margin-bottom: 10px;">
            <span class="text">Hello!</span>
          </button>
          <p>Fade</p>
        </div>

        <!-- Style 4 -->
        <div class="button-style-card" onclick="selectButtonStyle('button4')">
          <button class="button4">Lookin' Neat!</button>
          <p>Swiper</p>
        </div>

        <!-- Style 5 -->
        <div class="button-style-card" onclick="selectButtonStyle('button5')">
          <button class="button5" style="width: 175px; font-size: 15px;">
            <span class="button-content">Watch Me Go</span>
          </button>
          <p style="margin-left: 20px;">Fill In</p>
        </div>

        <!-- Add more styles as needed -->
      </div>
      <label for="buttonLink">Button link:</label>
      <input type="url" name="buttonLink" id="buttonLink" />

      <label for="buttonTransition">Transition:</label>
      <input type="text" name="buttonTransition" id="buttonTransition" />

      <button onclick="addCustomButton()">Add Button</button>
    </div>

  </div>
</div>

</html>