<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/design-page.css">
  <link rel="stylesheet" href="/styles/fonts.css">
  <link rel="stylesheet" href="/styles/scroll.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.css" />
  <!-- Include jQuery before Spectrum -->
  <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
  <!-- Include Spectrum script -->
  <script src="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.js"></script>



  <title>Linkserv | Your Design Page</title>

</head>

<body>
  <div class="sidebar">
    <h2>Welcome Back!</h2>
    <div class="icontext"><a href="/" class="reftext"><i class="fa-solid fa-backward"></i> Back To LinkserV</a></div>
    <ul>
      <li><a href="#" class="menu-link"><i class="fas fa-eye"></i> View</a></li>
      <li><a href="#" class="menu-link"><i class="fas fa-paint-brush"></i> Design</a></li>
      <li><a href="#" class="menu-link"><i class="fas fa-palette"></i> Presets</a></li>
      <li><a href="#" class="menu-link"><i class="fas fa-image"></i> Background</a></li>
      <li><a href="/logout" class="menu-link"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>

      <!-- Add more menu items as needed -->
    </ul>
  </div>

  <div class="content">
    <!-- Design elements and content go here -->

    <div class="content-navbar">
      <div class="navbar-content">
        <button class="navbar-info" onclick="openInfoModal()">
          <i class="fas fa-info-circle"></i>&nbsp;Info
        </button>
        <div class="navbar-text">
          <div id="dynamic-nav-text"></div>
        </div>
        <div class="navbar-share" onclick="openShareModal()">
          <i class="fas fa-share"></i>&nbsp;Share
        </div>
      </div>
    </div>
    <div class="profile-content">
      <!-- pfp handler-->
      <div class="profile-picture-container">
        <div class="profile-picture-overlay" id="editOverlay">
          <i class="fas fa-pencil-alt" id="editIcon"></i>
        </div>
        <img src="https://t3.ftcdn.net/jpg/00/64/67/80/360_F_64678017_zUpiZFjj04cnLri7oADnyMH0XBYyQghG.jpg"
          id="profileImage" alt="profile-picture">
      </div>

      <div id="dynamicUsername"></div>
      <div id="social-links-dynamic" style="margin-top: 50px;"></div>
    </div>
    <div id="buttonContainer">
      <!-- Buttons will be dynamically added here -->
    </div>

    <div id="images-container">
      <!-- The Gallery will be placed here-->

    </div>
    <button id="addElementButton">Add Element</button>
  </div>


  <!-- Scripts & Utils -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"
    integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/scripts/share.js"></script>
  <script src="/scripts/pfp.js"></script>
  <script src="/scripts/addElement.js"></script>
  <script src="/scripts/dynamicContent.js" defer></script>
  <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
  <script src="/scripts/dropzone.js"></script>
  <!-- Include your color picker script after Spectrum -->
  <script src="/scripts/colorpick.js"></script>
  <script src="/scripts/socialMedia.js"></script>


</body>

<div class="modal" id="infoModal">
  <div id="infoModalContent" class="modal-content">
    <label for="pageInfo" id="info-label">Page Info:</label>
    <div class="textarea-container">
      <textarea id="pageInfo" rows="4" placeholder="Write something about your page or yourself..." maxlength="200"
        oninput="updateInfo() ; charCount();"></textarea>

      <!-- Character count span -->
      <span class="char-count">0/200</span>
    </div>

    <div id="previewSection">
      <h3>Here's what people will see on your page:</h3>
      <div id="previewInfo"></div>
    </div>

    <button onclick="updateInfo()">Save Changes</button>
    <button class="close-btn" onclick="closeInfoModal()">Close</button>
  </div>
</div>


<div class="modal" id="shareModal">
  <div class="modal-content">
    <span class="close" onclick="closeShareModal()">&times;</span>
    <h2 id="share-dynamic-text"></h2>
    <div id="shareModalContent">

      <!-- Add more share buttons as needed -->
    </div>
    <div id="copyLinkContainer">
      <button id="copyLinkInput" onclick="copyLinkToClipboard()">
        <i class="fa-solid fa-link"></i>
        <span id="url-address"></span>
        <span id="copyStatus">Copy</span>
    </div>
    <hr class="modal-divider">

    <div class="additional-section">
      <h3>Create Your Own LinkserV page</h3>
      <p>Design & Customize with ease</p>
      <a href="/Signup" class="black-button">Sign Up</a>
      <a href="/" class="find-out-more-button">Find Out More</a>
    </div>
  </div>
</div>

<div class="modal" id="addElementModal">
  <div class="modal-content" id="element-content">
    <span class="close" onclick="closeAddElementModal()">&times;</span>
    <h2>Which element do you want to add?</h2>

    <!-- Example elements to add -->
    <div class="buttons-container">
      <button onclick="addElement('button')"><i class="fas fa-square"></i> <span>Add Button</span></button>
      <button onclick="addElement('textfield')"><i class="fas fa-font"></i><span>Add Text Field</span> </button>
      <button onclick="addElement('image')"><i class="fas fa-image"></i><span>Add image</span></button>
      <button onclick="addElement('social')"><i class="fas fa-share-alt"></i><span>Add Social Media Icon</span></button>
    </div>
  </div>
</div>

<div class="modal" id="customizeElementModal">
  <div class="modal-content" id="customize-element-content">
    <span class="close" onclick="closeCustomizeElementModal()">&times;</span>
    <h2 id="modalTitle" style="margin: 3px;">Customize Element</h2>

    <div id="image-modal">
      <!-- Text customization section -->
      <div id="textEditSection">
        <label for="elementText">Text:</label>
        <input type="text" id="elementDescription" placeholder="Tip: keep it short!">
      </div>

      <!-- Image customization section -->
      <div id="imageEditSection">
        <label for="elementImage">Image URL:</label>
        <input type="text" id="imageUrl" placeholder="Or enter a URL...">
        <form action="/file-upload" id="dropzone" class="dropzone"></form> <!-- Dropzone container -->
      </div>


      <button id="applyChangesButton">Apply Changes</button>
    </div>

    <!-- Social Media Icon customization section -->
    <div id="socialMediaEditSection" style="display: none;">

      <div class="form-group">
        <label for="socialMediaPlatform">Social Media Platform:</label>
        <div id="socialMediaSearchContainer"></div>
        <select id="socialMediaPlatform" class="platform-select">
          <!-- Social Media -->
          <option value="facebook">Facebook</option>
          <option value="twitter">Twitter</option>
          <option value="instagram">Instagram</option>
          <option value="linkedin">LinkedIn</option>
          <option value="youtube">YouTube</option>
          <option value="pinterest">Pinterest</option>
          <option value="snapchat">Snapchat</option>
          <option value="tiktok">TikTok</option>
          <option value="reddit">Reddit</option>
          <option value="whatsapp">WhatsApp</option>
          <option value="behance">Behance</option>
          <option value="dribbble">Dribbble</option>

          <!-- Music Platforms -->
          <option value="spotify">Spotify</option>
          <option value="soundcloud">SoundCloud</option>
          <option value="apple-music">Apple Music</option>
          <option value="bandcamp">Bandcamp</option>

          <!-- Forums and Others -->
          <option value="github">GitHub</option>
          <option value="discord">Discord</option>
          <option value="slack">Slack</option>
          <option value="tumblr">Tumblr</option>
          <option value="quora">Quora</option>
          <option value="stack-overflow">Stack Overflow</option>
          <option value="steam">Steam</option>
          <option value="etsy">Etsy</option>
          <option value="paypal">PayPal</option>
          <option value="twitch">Twitch</option>
          <option value="telegram">Telegram</option>
        </select>
        <div id="optionsDiv"></div>
      </div>

      <label for="href-text">URL:</label>
      <input type="url" name="href-text" id="href-text">
      <div class="form-group">

        <h3 style="margin: 0;">Button Color:</h3>
        <div class="wrapper">
          <div class="gradient-box"></div>
          <div class="row options">
            <div class="column direction">
              <p>Direction</p>
              <div class="select-box">
                <select>
                  <option value="to top">Top</option>
                  <option value="to right top">Right top</option>
                  <option value="to right">Right</option>
                  <option value="to right bottom">Right bottom</option>
                  <option value="to bottom">Bottom</option>
                  <option value="to left bottom">Left bottom</option>
                  <option value="to left">Left</option>
                  <option value="to left top" selected>Left top</option>
                </select>
              </div>
            </div>
            <div class="column palette">
              <p>Colors</p>
              <div class="colors">
                <input type="color" value="#5665E9">
                <input type="color" value="#A271F8">
              </div>
            </div>
          </div>
        </div>

        <!-- Icon color modifier -->
        <div class="icon-color" style="display: none;">
          <p>Icon Color</p>
          <input type="color" id="iconColor" value="#FFFFFF">
        </div>
        <button id="addSocialMediaButton">Add Social Media Icon</button>
        <button id="saveChangesButton" style="display: none">Save Changes</button>

      </div>

</html>