<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles/dropmenu.css">
</head>
<body>
    <div class="container">
        <div class="button-container">
            <button class="dropbtn" onclick="toggleDropdown()"></button>
        </div>
        <div class="dropdown-content" id="myDropdown">
            <div class="dropup-content">
                <!-- Your content here -->
                <nav class="navbar">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="#">Contact</a>
                </nav>
            </div>
        </div>
    </div>
    <script src="dropmenu.js"></script>
</body>
</html>

