<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles/dropmenu.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link rel="stylesheet" type="text/css" href="styles/scroll.css">
    <link rel="stylesheet" type="text/css" href="styles/bgDesign.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
  </head>
<body>


  <div class="background">
   <div class="container">
    <nav class="navcontainer2" id="navbar">
      <img src="clipIcon.png" class="clipimg"></img>
      <div class="icontext"><a href="/" class="reftext">LinkserV</a></div>
      <ul class="navbar">
        <li class="navtext">
          <a class="menu-link" id="viewButton">View</a>
        </li>
        <li class="navtext">
          <a data-menu="menu1" class="menu-link">Design</a>
        </li>
        <li class="navtext">
          <a data-menu="menu2" class="menu-link">Presets</a>
        </li>
        <li class="navtext">
          <a data-menu="menu3" class="menu-link">Background</a>
        </li>
      </ul>
    </nav>
    <div id="content">
      <div id="menu1" class="menu" data-menu-content="menu1">
        <div class="mcc1"></div>
        <div class="slider">

          <!-- Border Radius -->
          <input type="range" id="slider" min="0" max="120" value="30" oninput="radiusValue.innerText = this.value; updateRadius(this.value)">
          <p id="radiusValue">30</p>
        </div>
      </div>


      <div id="menu2" class="menu" data-menu-content="menu2">
        <div class="presets">
          <div class="presetContainer">
            <a class="preset1" onclick="applyPreset('preset1')">
              <div class="preset-box"><img src="preset1.png" class="presetimg"></div>
            </a>
          </div>          
          <div class="presetContainer">
            <a class="preset2" onclick="applyPreset('preset2')">
              <div class="preset-box"><img src="preset2.png" class="presetimg"></div>
            </a>
          </div> 
          <div class="presetContainer">
            <a class="preset2" onclick="applyPreset('preset3')">
              <div class="preset-box"><img src="preset3.png" class="presetimg"></div>
            </a>
          </div> 
          <div class="presetContainer">
            <a class="preset4" onclick="applyPreset('preset4')"></a>
          </div>
          <div class="presetContainer"><a class="preset5" onclick="applyPreset('preset5')"></a>
          </div>
        </div>
      </div>

      <div id="menu3" class="menu" data-menu-content="menu3">
        <div class="bgcon">
          <button class="bgstyle">
            <div class="linear"></div>
          <!-- <button class="radial"></button> work tomorrow --> 
      </div>      
    </div>

    <div class="center-container">
      <div class="profile">
          <input type="file" id="profilePicInput" style="display: none;">
          <img id="profilePic" src="https://t3.ftcdn.net/jpg/00/64/67/80/360_F_64678017_zUpiZFjj04cnLri7oADnyMH0XBYyQghG.jpg" alt="Your Profile Picture">
      </div>

      <div class="username">Username</div>

      <div class="bio">
        <div class="textarea-container">
          <textarea class="bioinput" id="bioinput" placeholder="Hey, I am a LinkserV user and this is my bio!" maxlength="200"></textarea>
          <span class="char-count">0/200</span>
        </div>
      </div>

      <div id="button-container">
        <button id="addButton" onclick="createButtonFromAddButton()">Create Button</button>
      </div>
    </div>
  </div>

    <!-- Scripts-->
    <script src="presets.js"></script>
    <script src="dropmenu.js"></script>
    <script src="btnprops.js"></script>
    <script src="presetApply.js"></script>
    <script src="pfp.js"></script>
    <!---->

</body>
</html>
