<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/style.css" rel="stylesheet" text="css">
    <link href="styles/scroll.css" rel="stylesheet" text="css">
    <link href="styles/animation.css" rel="stylesheet" text="css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap">
    <title>LinkserV | Main</title>

</head>
<body>

  <!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="scrollscript.js"></script>
<script src="type-animation.js"></script>
  <!---->

<div class="background" id="Home">
   <nav class="navcontainer" id="navbar">
        <img src="clipIcon.png" class="clipimg"></img>
        <div class="icontext">LinkserV</div>
     <ul class="navbar">
        <li class="navtext"><a href="#Home">Home</a></li>
        <li class="navtext"><a href="#aboutus">About Us</a></li>
        <li class="navtext"><a href="#FAQ">FAQ</a></li>
        <li class="navtext"><a href="#">Try It Yourself!</a></li>
     </ul>

     <button class="start" id="loginref" onclick="location.href = 'login.html'">Login To Start</button>
  </nav>



  

  <div class="mainbox" href>
      <div class="typing-text"><span class="cursor">|</span></div>
      <p class="additional-text">Hello and welcome to LinkserV, <br> your service to creating customizable bio pages!</p>
      <img src="canvaimg.png" class="imgright"></img>
  </div>

  <div class="mb2" id="aboutus">
   <h2 class="title">What is LinkserV?</h2>
   <p class="additional-text right">
      LinkserV is a bio page - creating service which can handle all of your links in one place. 
      <br>
      You can use LinkserV to add links with customizable text, add icons for social media and share them to others.</p>
      <img src="ilya-pavlov.jpg" class="imgleft">
   </div>

  <div class="mainbox" id="FAQ">
   <div class="typing-text-title">FAQ</div>
         <p class="additional-text-2">
            Q: So, what's this website all about? <br>
            A: This is my final CS project, revolving around <br> creating bio pages
            using a website frontend and a server & database on the backend. <br>
            <br>
            Q: How do you get the link?<br>
            A: Log in, create the page and share!<br>
            <br>
            Q: Is this service free?<br>
            A: Yes, completely free. <br> All presets and features are available.<br>
         </p>
      <img src="canvaimg.png" class="imgright"></img>
  </div>
<!--
   <div class="mainbox" id="FAQ">
      <div class="typing-text-title">FAQ</div>
      <br>
      <br>
      <div class="space"></div>
      <p class="additional-text">
         Q: How do you get the link?<br>
         A: Log in, create the page and share!<br>
         <br>
         Q: Is this service free?<br>
         A: Yes, completely free. <br> All presets and features are available.<br>
      </p>
      <img src="canvaimg.png" class="imgright"></img>
   </div>

--->
<!--  

   <div class="mpbox">
     <div class="textcon" href="#home">
      <br>
      <h2 class="title">LinkserV</h2>
      <p class="text2">Hello and welcome to LinkserV, your service to creating customizable bio pages!</p>
   </div>

<div id="aboutus"></div>
<section class="s1">
<div class="textcon">
   <h2 class="aboutus underline"> About Us</h2>
   <p class="text2">LinkserV is a bio page - creation service designed
      and created by ___ aka MrSuperCraft, an 11th grade CS major and programming enthusiast.
      <div class="bold text2">What can you do with LinkserV?</div>
      <li class="left text2">Design your own bio page</li>
      <li class="left text2">Add your own links</li>
      <li class="left text2">Share with everyone!</li>
   </p>
</div>

</section>


<div id="faq"></div>
<section class="s2">

</section>



<section class="s3">

</section>

-->

<footer>
  <div class="footerContainer">
    <div class="footerNav">
      <ul>
        <a href="#Home" id="ftext">Home</a>
        <a href="#aboutus" id="ftext" >About Us</a>
        <a href="#FAQ" id="ftext" >FAQ</a>
        <a href="" id="ftext" ></a>
        <a href="" id="ftext" ></a>
      </ul>
    </div>

  </div>
</footer>


   <!--
      FOOTER TEXT

   <p>*Note: this website is made for project purposes only. All Rights Reserved*</p>
  
   -->

   <!-- Scripts -->
<script src='navscroll.js'></script>
<script src="refbutton.js"></script>
   <!---->
</div>

</body>
</html>