<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/scroll.css" rel="stylesheet" text="css">
    <link href="styles/login.css" rel="stylesheet" text="css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="styles/accordion.css">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <title>LinkserV | Login</title>
</head>

<body style="background-image: url('mountain.jpg');">


    <div class="login-container" data-aos="fade-up" data-aos-duration="800">
        <div class="image-container">
            <img class="background-img" src="feey-XWtLafKscik-unsplash.jpg" alt="Background Image">
            <div class="overlay">
                <div class="text-overlay">
                    New to LinkServ?
                    <br>
                    <br>
                    Sign up and start designing your own bio page in seconds!
                    <br>
                    <br>
                    <a href="/signup" class="signup-btn">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="login-box">
            <a href="/" class="back-btn"><i class="fas fa-arrow-left"></i> Go Back</a>
            <form action="#" class="login-form">
                <div class="logcon">
                    <h2 class="titlelog">Login To Your Account</h2>
                </div>
                <div class="login-text">with your email or username and password</div>

                <div class="input-group">
                    <fieldset>
                        <legend class="loglegend" id="emailLegend"></legend>
                        <input class="input" type="text" name="username" required autocomplete="off" id="email"
                            autocapitalize="none"
                            oninvalid="this.setCustomValidity('Please Enter Your Email or Username Here.')"
                            oninput="this.setCustomValidity('')" autofocus spellcheck="false" autocorrect="off"
                            title="Enter your Email / username" />
                        <span class="placeholder">Email or Username</span>
                    </fieldset>
                </div>

                <div class="input-group">
                    <fieldset>
                        <legend class="loglegend" id="passwordLegend"></legend>

                        <div class="password-container">
                            <div class="password-input">
                                <input class="input password" id="password" type="password" name="password" required
                                    autocomplete="off"
                                    oninvalid="this.setCustomValidity('Please Enter Your Password Here.')"
                                    oninput="this.setCustomValidity('')" autofocus spellcheck="false" autocorrect="off"
                                    onkeyup="checkPasswordStrength(this.value)" title="Enter your password here" />
                                <span class="placeholder">Password</span>
                                <div class="icons">
                                    <i id="eye" class="fa-regular fa-eye" onclick="hideShow()"></i>
                                </div>
                            </div>

                            <div class="password-strength">
                                <p>Password Strength: <span id="strength-label"></span></p>
                            </div>
                        </div>
                        <ul class="accordion  js-accordion" data-animation="on" data-multi-items="on">

                            <li class="accordion__item js-accordion__item">
                                <button class="accordion__header ak6-padding-x-md js-tab-focus" type="button">
                                    <span class="ak6-text-md">Why is my password not strong enough?</span>
                                </button>

                                <div
                                    class="accordion__panel ak6-padding-top-2xs ak6-padding-x-md ak6-padding-bottom-md js-accordion__panel">
                                    <div class="ak6-text-component">
                                        <p>A strong password fills these 3 conditions: <br>
                                            - At least 8 characters. <br>
                                            - At least 1 uppercase letter. <br>
                                            - At least 1 special symbol (e.g ! , @ , $ , %). <br>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </fieldset>
                </div>
                <button value="login" class="login-button" type="submit" onclick="validateForm(event)">Login</button>
            </form>
        </div>
    </div>

    <!-- Scripts-->
    <script src="passwordhide.js"></script>
    <script src="validemail.js"></script>
    <script src="pwAuth.js"></script>
    <script src="formSub.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="aos.js"></script>
    <script src="accordion.js"></script>
    <!---->
</body>

</html>