/* design-page.css */

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    /* Set a minimum height */
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #67bd75, #3d7046);
    transition: opacity 0.5s ease-in-out;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #87b893, #54c971, #247224);
    animation: gradientAnimation 5s ease infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.3s;
}

@keyframes gradientAnimation {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
}

.loading-screen.fade-out {
    opacity: 0;
}

.loading-screen .spinner-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid green;
    border-top: 4px solid #53cc57;
    position: relative;
    animation: spin 1s linear infinite;
    /* Spin animation */

}

.spinner-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.spinner-content svg {
    font-size: 48px;
    color: rgb(0, 0, 0);
}

.spinner-content .brand-text {
    text-align: center;
    font-size: 2em;
    color: green;
    font-weight: 600;
    margin: 0;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.sidebar {
    width: 250px;
    position: fixed;
    height: 100vh;
    /* Set sidebar to full height */
    background-color: #001f3f;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    font-weight: 600;
    z-index: 50;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #ecf0f1;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: auto;
}

.sidebar li {
    padding: 15px;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar a i {
    margin-right: 10px;
}


.sidebar a:hover {
    background-color: #45a049;
    color: white;
}

.content {
    padding: 20px;
    overflow-y: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 250px;
    width: calc(100% - 250px);
    /* Adjusted width calculation */
    height: 100vh;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.profile-picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttonContainer {
    text-align: center;
    /* Center-align the buttons */
}

.profile-picture-container {
    position: relative;
    margin-top: 200px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    /* Keep overflow hidden */
    z-index: 90;
}

#profileImage {
    width: 100%;
    height: auto;
    max-width: none;
    max-height: none;
    object-fit: cover;
    border-radius: 50%;
}

.profile-picture-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Adjust the overlay color and transparency */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    /* Hidden by default */
    transition: opacity 0.3s ease;
}

#editIcon {
    font-size: 24px;
    color: #fff;
    /* Set your desired color */
}

/* Show the overlay on hover */
.profile-picture-container:hover .profile-picture-overlay {
    opacity: 1;
}


.content-navbar {
    position: fixed;
    top: 30px;
    left: 350px;
    width: calc(90% - 250px);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}


/* Adjusted styles for the navbar content */
.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



#dynamicUsername {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 700;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Styles for the navbar text container */
.navbar-text {
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

#dynamic-nav-text {
    font-weight: 700;
}

/* Styles for the info button */
.navbar-info {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333;
    font-size: 20px;
    background-color: #f0f0f0;
    padding: 10px;
    border: none;
    border-radius: 30px;
    margin-right: 5px;
    margin-left: 10px;
    transition: background-color 0.3s, color 0.3s;

}

.navbar-info i {
    margin-right: 5px;
}

/* Hover animation for the info button */
.navbar-info:hover {
    background-color: #ddd;
    color: #333;
}

/* Styles for the share button */
.navbar-share {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333;
    font-size: 20px;
    background-color: #2ecc71;
    padding: 10px;
    border: none;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 5px;
}

.navbar-share i {
    margin-right: 5px;
}

/* Hover animation for the share button */
.navbar-share:hover {
    background-color: #116835;
    color: #ffffff;
}


/* Add styles for the modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 200;
}

.modal-content {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    height: 90%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Styles for the share modal */
.share-modal {
    display: none;
}

.share-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}


.share-button[data-platform="facebook"]::after {
    content: "\f09a";
    /* Add the Unicode or SVG content for the Facebook icon */
    font-family: "FontAwesome";
    /* Assuming you're using FontAwesome for icons */
    margin-left: 10px;
}

.share-button[data-platform="twitter"]::after {
    content: "\f099";
    /* Add the Unicode or SVG content for the Twitter icon */
    font-family: "FontAwesome";
    margin-left: 10px;
}

.share-button[data-platform="instagram"]::after {
    content: "\f16d";
    /* Add the Unicode or SVG content for the Instagram icon */
    font-family: "FontAwesome";
    margin-left: 10px;
}

.share-button {
    position: relative;
    background-color: #f3f3f3;
    font-family: 'Poppins', sans-serif;
    color: #0f0f0f;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
    font-size: 25px;
}

.share-button:hover {
    background-color: #b1b1b1;
}

/* Arrow styles */
.share-button::after {
    content: "\f105";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    /* Font weight may vary based on the version */
    font-size: 25px;
    margin-left: 10px;
}

/* Icon styles */
.share-button .icon {
    font-family: "FontAwesome";
    /* Assuming you're using FontAwesome for icons */
    font-size: 25px;
    margin-right: 10px;
}


#copyLinkContainer {
    width: 92%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    transition: background-color 0.3s ease-in-out;
    border-radius: 20px;
}

#copyLinkContainer:hover {
    background-color: #d1d1d1;
}

#copyLinkInput {
    width: 100%;
    height: 60px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid rgb(177, 174, 174);
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}

#url-address {
    margin-right: 10px;
}

/* Add these styles to your design-page.css file */

.modal-divider {
    width: 100%;
    border: 1px solid #000;
    margin-top: 20px;
}

.additional-section {
    text-align: left;
}

.additional-section h3 {
    color: #000;
}

.black-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    margin-right: 10px;
}

.find-out-more-button {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
    border: 1px #b1b1b1 solid;
}

.find-out-more-button:hover {
    background-color: #c5c5c5;
}


#infoModalContent {
    text-align: center;
}

#pageInfo {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    resize: vertical;
    /* Allow vertical resizing of the textarea */
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    overflow-y: auto;
    /* Change this to 'auto' */
    max-height: 300px;
}

#info-label {
    font-weight: bold;
    font-size: 40px;
}

#pageInfo::placeholder {
    font-family: 'Poppins', sans-serif;
}

#pageInfo:focus {
    outline: none;
    border-color: #4caf50;
}

#infoModalContent button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#infoModalContent button:hover {
    background-color: #45a049;
}

#previewSection {
    display: none;
    /* Initially hide the preview section */
    margin-top: 20px;
}

#previewSection h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

#previewInfo {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 10px;
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
    max-height: 200px;
    overflow-y: auto;
    white-space: pre-wrap;
    display: block;
    /* Ensure it's a block-level element */
    word-wrap: break-word;
    /* Allow long words to break and wrap to the next line */
}

#previewInfo a {
    color: #3498db !important;
    /* Blue color for links */
    text-decoration: none;
    /* Remove default underline */
    transition: color 0.3s;
    /* Smooth transition for color change */
}

#previewInfo a:hover {
    text-decoration: underline;
    /* Underline on hover */
    color: #3498db !important;
    /* Hover color for links */
}

#previewInfo a:visited {
    color: #1f618d !important;
    /* Visited link color */
}

#infoModalContent .textarea-container {
    position: relative;
}

#infoModalContent #pageInfo {
    width: calc(100% - 24px);
    /* Adjust as needed */
}

#infoModalContent .char-count {
    position: absolute;
    bottom: 35px;
    /* Adjust as needed */
    right: 20px;
    /* Adjust as needed */
    color: #777;
    font-size: 18px;
    /* Adjust the color as needed */
}

#addElementButton {
    background-color: #4CAF50;
    /* Green background color */
    color: white;
    /* White text color */
    padding: 10px 20px;
    /* Padding around the text */
    font-size: 20px;
    /* Font size */
    border: none;
    /* No border */
    border-radius: 30px;
    /* Rounded corners */
    cursor: pointer;
    /* Cursor on hover */
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 50px;

}

#addElementButton:hover {
    background-color: #45a049;
    /* Darker green color on hover */
}

#addElementModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 200;
}

#element-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Center content horizontally */
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    height: 80%;
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns with equal width */
    grid-template-rows: repeat(2, 1fr);
    /* Two rows with equal height */
    grid-column-gap: 8px;
    /* Gap between columns */
    grid-row-gap: 8px;
    /* Gap between rows */
    width: 100%;
    /* Make buttons container full width */
    justify-items: center;
    /* Center items horizontally in the grid */
    align-items: center;
    /* Center items vertically in the grid */
    margin-top: 20px;
    /* Add some space above the buttons */
}



#element-content .buttons-container button {
    background-color: #3498db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center items vertically */
    align-items: center;
    /* Center items horizontally */
    color: white;
    padding: 10px;
    height: 200px;
    width: 200px;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#element-content .buttons-container button i {
    margin-right: 10px;
    /* Add margin to the right of the icon */
    flex-shrink: 0;
    /* Ensure the icon doesn't shrink */
}

#element-content .buttons-container button span {
    margin-left: 5px;
    /* Add margin to the left of the text */
    text-align: center;
    /* Center text horizontally */
    flex-grow: 1;
    /* Allow text to take remaining space */
}


#element-content button:hover {
    background-color: #476f8a;
    /* Darker blue color on hover */
    color: #ecf0f1;
    /* Light text color on hover */
    transform: translateY(-5px);
    /* Move the button slightly upwards on hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    /* Enhance box shadow on hover */
}

/* Gallery design */
#galleryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    /* Allow the container to adjust its height based on content */
}

/* Updated styles for each gallery item */
.gallery-item {
    position: relative;
    flex: 0 0 calc(33.33% - 16px);
    margin: 15px;
    box-sizing: border-box;
    height: 400px;
    /* Set a fixed height for each gallery item */
}

.image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    overflow-y: auto;
    max-height: 100%;
}

.gallery-title {
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    /* Maintain a square shape */
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 20px;
}


.gallery-item {
    position: relative;
    flex: 0 0 calc(50% - 15px);
    /* Adjusted to 50% for two items in a row */
    margin: 15px;
    box-sizing: border-box;
    height: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
}

@media (min-width: 768px) {
    .gallery-item {
        flex: 0 0 calc(33.33% - 30px);
        /* Adjusted to include margin for three items in a row */
    }
}

.gallery-item:hover {
    transform: scale(1.03);
    filter: grayscale(100%);
}

.gallery-description {
    font-size: 20px;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 30px;
}


/* image modal */

#customize-element-content {
    margin: 0 auto;
}

/* Style for the input fields */
#elementDescription,
#elementImage,
#imageUrl {
    width: 90%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#socialDelete {
    display: flex;
    background-color: rgb(196, 40, 40);
    margin-inline: auto;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 10px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#socialDelete:hover {
    background-color: rgb(117, 12, 12);
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}





/* Style for the submit button */
#customize-element-content #applyChangesButton,
#addSocialMediaButton,
.dz-button {
    display: flex;
    margin-inline: auto;
    background-color: #3498db;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 10px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#customize-element-content #applyChangesButton:hover,
#addSocialMediaButton:hover,
#saveChangesButton:hover,
.dz-button:hover {
    background-color: #2980b9;
    color: #ecf0f1;
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}


#saveChangesButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    background-color: #2ecc71;


    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;

    width: 40%;

    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 10px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#saveChangesButton:hover {

    background-color: #21862a;
    color: #ecf0f1;
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}




#elementImage {
    margin-bottom: 0;
}


.dropzone {
    position: relative;
    overflow: hidden;
    outline: 2px dashed black;
    border: none;
    padding: 20px;
    margin: 20px 0;
    cursor: pointer;
    background-color: #2ecc70b0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Subtle shadow effect */
}

.gallery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    justify-content: center;
    opacity: 0;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    /* Semi-transparent black overlay */
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    /* Center the text horizontally */
    display: flex;
    align-items: center;
    /* Center the text vertically */
    justify-content: center;
    font-size: 30px;
}

.gallery-overlay:hover {
    opacity: 1;
}

.delete-button {
    background-color: #ff3333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}



/* Social Media Section Design */

/* Buttons within Modals */
.buttons-container button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttons-container button:hover {
    background-color: #45a049;
}

/* Textarea in Info Modal */
.textarea-container textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

/* Character count span */
.char-count {
    display: block;
    margin-top: 5px;
}



#socialMediaEditSection label,
#socialMediaEditSection select,
#socialMediaEditSection input,
#socialMediaEditSection button {
    width: 100%;
    margin-top: 5px;
}

#buttonPreview,
.social-media-preview {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}

/* Style for the color picker */
#color-picker {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Style for the social media icons form */
#socialMediaEditSection {
    display: none;
    max-width: 400px;
    margin: 0 auto;
}

.wrapper {
    width: calc(100% - 40px);
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.06);
}

.wrapper .gradient-box {
    height: 60px;
    width: 100%;
    border-radius: 7px;
    background: linear-gradient(to left top, #5665E9, #A271F8);
}

.wrapper .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.options p {
    font-size: 1rem;
    margin-bottom: 8px;
}

.row .column {
    width: calc(50% - 10px);
    margin-bottom: 10px;
}

.row .column:first-child {
    margin-bottom: 10px;
    /* Adjust this value as needed */
}

.row button {
    width: 100%;
    margin-top: 20px;
}

.options .select-box {
    border-radius: 5px;
    padding: 8px 12px;
    border: 1px solid #aaa;
}

.select-box {
    position: relative;
}

.select-box select {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    background: none;
}

#selectedDirection {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.colors input {
    height: 35px;
    width: calc(50% - 10px);
    margin-bottom: 10px;
}

.wrapper textarea {
    width: 100%;
    color: #333;
    font-size: 1rem;
    resize: none;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.buttons button {
    padding: 12px 0;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

@media screen and (max-width: 432px) {
    .wrapper {
        width: calc(100% - 30px);
    }

    .row .column {
        width: 100%;
        margin-bottom: 8px;
    }

    .row button {
        width: 100%;
        margin-top: 20px;
    }

    .options .select-box {
        padding: 8px 12px;
    }

    .options .palette {
        margin-top: 15px;
    }

    .colors input {
        width: 100%;
        margin-bottom: 8px;
    }
}



.options-card {
    position: absolute;
    width: 200px;
    /* Adjust the width as needed */
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 120px;
    overflow-y: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.options-card div {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    transition: background-color .3s ease-in-out;
}

.options-card div:hover {
    background-color: #ececec;
}

.options-card div:last-child {
    border-bottom: none;
}


#social-links-dynamic {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-button-container {
    margin-inline: auto;
    position: relative;
    width: 80px;
    /* Adjust the width as needed */
    height: 80px;
    /* Adjust the height as needed */
    margin: 10px;
    /* Add any other necessary styles */
}

.social-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    /* Adjust the background color and opacity as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    /* Initially invisible */
    transition: opacity 0.3s ease;
    /* Add a smooth transition effect */
    cursor: pointer;
}

.social-overlay:hover {
    opacity: 1;
}

/* Style for the socialMediaPlatform select */
#platformSearch {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease-in-out;
}

#platformSearch:focus {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/* Style for the URL input */
#href-text {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease-in-out;
}

#href-text:focus {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}


.color-options {
    padding: 5px;
    font-size: 16px;
}

.color-option {
    display: flex;
    align-items: center;
}

.color-square {
    width: 20px;
    /* Adjust the width as needed for the square size */
    height: 20px;
    /* Adjust the height to match the width for a square */
    margin-right: 4px;
    /* Adjust the margin as needed for spacing */
    margin-left: 8px;
    border-radius: 6px;
}

.color-text {
    text-align: left;
    margin-left: 8px;
    /* Adjust the margin as needed for spacing */
}

#textColorSearch {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease-in-out;
}

#textColorSearch:focus {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

#buttonContainer {
    display: flex;
    flex-wrap: wrap;
    /* This allows buttons to wrap to the next line if the container is not wide enough */
    justify-content: space-around;
    /* Adjust as needed to control spacing between buttons */
}















/* Background Modification */

#backgroundModification,
#designModification {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 3%;
    height: auto;
}

#designModification {
    margin-bottom: 100px;

}

#backgroundModification h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

#backgroundColor,
#backgroundImage {
    margin-bottom: 10px;
}

#backgroundPreview {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    display: none;
    /* Or another appropriate value like 'flex' or 'inline-block' */
}

#backgroundModification button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 10px;
    transition: background-color 0.3s ease-in-out;
}

#backgroundModification button:hover {
    background-color: #2980b9;
}

#apply {
    height: 50px;
    font-size: 20px;
    margin-bottom: 10px;

}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    /* Ensure cards stay in a single row */
}

.card {
    width: 30%;
    height: 60%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-right: 10px;
    /* Add some margin between cards */
}

.card h2 {
    margin-bottom: 15px;
}

.card label {
    display: block;
    margin-bottom: 8px;
}

.card input,
.card select,
.card button {
    width: 50%;
    height: 30px;
    margin-bottom: 15px;
}

/* Additional styling for the image card */
.card #imageUrl {
    margin-bottom: 20px;
}


/* Hide the default file input */
.custom-file-input {
    display: none;
}

/* Center the custom file input */
.file-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style the custom file input label */
.custom-file-label {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #81c973;
    color: #fff;
    border-radius: 25px;
    /* Pill shape */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/* Style the button within the label */
#backgroundModification .remove-image-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    height: 50px;
    padding: 10px 20px;
    /* Adjusted padding */
    border-radius: 5px;
    margin: 10px 0;
    /* Adjusted margin */
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease-in-out;
    width: calc(100% - 20px);
    /* Adjusted width */
    box-sizing: border-box;
}


/* Adjust styles for better visibility */
.custom-file-label:hover,
#backgroundModification .remove-image-button:hover {
    background-color: #000000;
}

.preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagePreview {
    border-radius: 30px;
    width: 130px;
    height: 130px;
    /* Adjust height as needed */
    background-size: cover;
    background-position: center;
}

#gradientPreview {
    max-width: 100%;
    height: 100px;
    /* Set a specific height that suits your design */
    margin-top: 10px;
    display: flex;
    /* Ensure it's a flex container */
    align-items: center;
    /* Center content vertically */
    justify-content: center;
    /* Center content horizontally */
}

#gradientPreviewInner {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    /* Ensure it takes the full height of the container */
    background-size: cover;
    background-position: center;
}








#deleteCustomButton {
    transition: background-color 0.3s ease-in-out;
}

#deleteCustomButton:hover {
    background: #a71616;
}







/* Style for the textfield-card element */
.textfield-card {
    position: relative;
    align-self: center;
    width: 90%;
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px auto;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Ensure menu button doesn't overflow */
    display: flex;
    flex-direction: column;
    /* Align button and content in a column layout */
}

/* Additional styles for paragraphs inside textfield-card */
.textfield-card p {
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    color: #333;
}


/* Add animation for a smoother appearance */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



#buttonSection .form-group {
    margin-bottom: 15px;
}

#buttonSection label {
    display: block;
    margin-bottom: 5px;
}

#buttonSection input[type="text"],
#buttonSection input[type="url"],
#buttonSection select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}


.addCustomButton {
    margin-top: 30px;
}

#buttonSection {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: auto;
}

#customButtonsContainer {
    width: 500px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}


.button1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 15px;
}

.button1 {
    font-weight: 600;
    color: #ffffff;
    /* White text for better contrast */
    text-transform: uppercase;
    padding: 1em 2em;
    background-color: #4cb8c4;
    /* Light teal */
    border: 2px solid #1f2e35;
    /* Dark border for contrast */
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background-color 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background-color 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}


.button1::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #4974b4;
    border-radius: inherit;
    -webkit-box-shadow: 0 0 0 2px #4175b1, 0 0 #191a4d;
    box-shadow: 0 0 0 2px #1f4180, 0 0 #212a7a;
    -webkit-transform: translate3d(0, 0.75em, -1em);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.button1:hover {
    background: #295ca8;
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
}

.button1:hover::before {
    -webkit-box-shadow: 0 0 0 2px #4175b1, 0 0 #191a4d;
    box-shadow: 0 0 0 2px #1f4180, 0 0 #212a7a;
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
}

.button1:active {
    background: #48799b;
    -webkit-transform: translate(0em, 0.75em);
    transform: translate(0em, 0.75em);
}

.button1:active::before {
    -webkit-box-shadow: 0 0 0 2px #4175b1, 0 0 #191a4d;
    box-shadow: 0 0 0 2px #1f4180, 0 0 #212a7a;
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
}







.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button2:hover {
    color: #ffffff;
    border: 1px solid #009087;
}

.button2:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}



.button3 {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

.button3:active,
.button3:hover {
    outline: 0;
}

.button3 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button3:hover span {
    background: none;
}

.button3:active {
    transform: scale(0.9);
}






.button4 {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #2c9caf;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #2c9caf;
}

.button4:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #70bdca;
    box-shadow: 4px 5px 17px -4px #268391;
}

.button4::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2c9caf;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.button4:hover::before {
    width: 250%;
}






.button5 {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button5:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.button5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
            rgba(150, 93, 233, 1) 10.8%,
            rgba(99, 88, 238, 1) 94.3%);
    transition: all 0.475s;
}




















/* Feed design for messages */

.message-feed {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 200;
    font-size: 20px;
}


.message {
    border-radius: 30px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.message svg {
    margin-right: 3px;
}

.success {
    background-color: #4CAF50;
}

.error {
    background-color: #F44336;
}

.warning {
    background-color: #FFC107;
}

/* Transition effect for the message feed and messages */
.message-feed,
.message {
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}














/* Profile section design */




#profileSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: hsla(0, 0%, 41%, 1);
    background: linear-gradient(135deg, hsl(0, 0%, 57%) 0%, hsla(0, 1%, 66%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsl(0, 0%, 57%) 0%, hsla(0, 1%, 66%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsl(0, 0%, 57%) 0%, hsla(0, 1%, 66%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#696969", endColorstr="#A9A7A7", GradientType=1);

    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    /* Ensure relative positioning for overlay effect */
}


#profileBanner {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    max-height: 300px;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    background-position: center -300px;
    /* Move the background image down by 50 pixels */
    background-size: cover;
    height: 300px;
}

#bannerImage {
    display: none;
    /* Hide the original img tag */
}

.pfp-stats {
    margin-top: -75px;
}





#profileSection .profile-picture-container {
    position: relative;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* Align the profile picture to the bottom */
    margin-top: 0;
    margin-bottom: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
    outline: 2px solid white;
}

#profileSection .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    /* Add a white border for a cleaner look */
}

#profileSection .profile-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Add some spacing between stat cards */
    gap: 30px;
    margin-bottom: 30px;
}

#profileSection .stat-card {
    background-color: #f8f8f8;
    /* Lighter background color */
    border-radius: 12px;
    /* Slightly rounder corners */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* More padding for a cleaner look */
    text-align: center;
    transition: transform 0.2s ease-in-out;
    width: 200px;
    /* Set a fixed width for consistent card sizes */
}

#profileSection .stat-card:hover {
    transform: scale(1.05);
}

#profileSection .stat-label {
    font-size: 18px;
    /* Slightly smaller font size */
    font-weight: bold;
    color: #555;
    /* Darker label color */
    display: block;
    margin-bottom: 8px;
}

#profileSection .stat-value {
    font-size: 22px;
    /* Slightly larger font size */
    color: #777;
    /* Darker value color */
    display: block;
}

#profileSection .stat-card svg {
    font-size: 32px;
    /* Larger icon size */
    margin-bottom: 12px;
    /* More space between icon and label */
    color: #3498db;
    /* Blue color for icons */
}



.btn__log-out {
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(194, 34, 34);
    color: white;
    text-decoration: none;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in;
}

.btn__log-out:hover {
    background-color: rgb(145, 31, 31);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}




























/* text editor */



.editor__container {
    background-color: #ffffff;
    width: 90vmin;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2);
}

.options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.editor__container button {
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: none;
    background-color: #ffffff;
    outline: none;
    color: #020929;
}

.editor__container select {
    padding: 7px;
    border: 1px solid #020929;
    border-radius: 3px;
}

.editor__container .options label,
.editor__container .options select {
    font-family: "Poppins", sans-serif;
}

.input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.editor__container input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 28px;
    border: none;
    cursor: pointer;
}

.editor__container input[type="color"]::-webkit-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}

input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}

.editor__container #text-input {
    margin-top: 10px;
    border: 1px solid #dddddd;
    padding: 20px;
    height: 50vh;
}

.editor__container .active {
    background-color: #e0e9ff;
}


.design__section {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Align items to the center horizontally */
    gap: 10px;
    /* Add some gap between buttons */
}

/* Base Style for Button Previews */
.button-style-card {
    width: 150px;
    text-align: center;
    margin: 10px;
    display: inline-block;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    height: 100px;
}

.button-style-card p {
    margin: 0;
}

.design__button {
    width: 300px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 0%;
    outline: none;
    border: none;
    margin: 10px;
    font-size: 24px;
    position: relative;
    /* Set position to relative */

}

.fill-container,
.shadow-container,
.hard-shadow-container,
.outline-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hard-shadow-container {
    margin-inline: auto;
}

.soft-shadow {
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.3);
}

.hard-shadow {
    outline: 2px solid black;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.8);
}

.outline {
    outline: 2px solid black;
}

.design__color-card {
    width: 30%;
    /* Set the width of the color card */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    margin-top: 100px;
    margin-right: 30px;
    /* Add margin to separate from the design selections */
    border-radius: 20px;
}

/* Container for the color picker */
.ThemeColorPickerButton {
    margin-inline: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

/* Title for the color picker */
.ThemeColorPickerTitle {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    /* Align the title to the left */
}

/* Container for the color picker and input */
.ColorPickerContainer {
    display: flex;
    align-items: center;
}

/* Color picker button */
.ColorSelectorButton {
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    /* Soft edges */
    border: 1px solid #ccc;
    cursor: pointer;
    transition: border-radius 0.3s ease-in-out;
}

.ColorSelectorButton:hover {
    border-radius: 6px;
}

/* Input for the button color */
.ButtonColorInput {
    margin-left: 0.75rem;
    flex: 1;
    height: 2rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-size: 0.875rem;
    color: #000;
    /* Black text */
}

/* Label for the input */
.ButtonColorInputLabel {
    font-size: 0.75rem;
    color: #666;
    margin-top: 0.25rem;
}

#ColorPickerInput {
    visibility: hidden;
    position: absolute;
}

.button__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* Align items to the top */
}

.design__selections {
    width: 70%;
}

.var-1 {
    border-radius: 0%;
}

.var-2 {
    border-radius: 10px;
}

.var-3 {
    border-radius: 50px;
}





/* Button Card Container */
.button-card {
    margin-inline: 40px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    /* Default background color */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    /* Soft drop shadow */
    border: 1px solid #d1d1d1;
    /* Grayish outline */
    transition: background-color 0.3s ease-in-out;
    /* Smooth background color transition */
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Font Demo Container */
.font-demo {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: rgb(243, 243, 241);
    /* Default darker tone of gray */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

/* Font Demo Text */
.font-demo-text {
    color: #000;
    /* Black text color */
    font-family: 'Poppins', sans-serif;
    /* Default font family */
    font-size: 24px;
}

/* Font Name */
.font-name {
    font-family: 'Poppins', sans-serif;
    /* Font family of the name */
    font-size: 24px;
    margin-left: 5px;
}

/* Hover Effect for Button Card */
.button-card:hover {
    background-color: #c8c8c8;
    /* Darker hue of gray on hover */
}

/* Hover Effect for Font Demo on Full Card Hover */
.button-card:hover .font-demo {
    background-color: #ffffff;
    /* Bright white on hover */
    transition-delay: 0.05s;
    /* Adding delay to the transition for a smooth effect */
}





.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Font Buttons Styling */
.font-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    text-align: left;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    /* Default background color */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    font-size: large;
}

.font-btn:hover {
    background-color: #ccc;
}

.save-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    background-color: #238b19;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-btn:disabled {
    background-color: #ddd;
    color: #080808;
    cursor: not-allowed;
}

.font-groups {
    max-height: 75vh;
    overflow-y: auto;
}

/* Selected style for font buttons */
.font-groups .font-btn.selected {
    background-color: #238b19;
    /* Selected background color */
    color: white;
}





#buttonCreationForm {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 70px auto;
    /* Adjust the margin-top to move the form down */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

#buttonCreationForm label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#buttonCreationForm input[type="text"],
#buttonCreationForm input[type="url"],
#buttonCreationForm select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    /* Ensures padding is included in the width */
}

#buttonCreationForm button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#buttonCreationForm button:hover {
    background-color: #45a049;
}




.invalid-input {
    border-color: #a71616 !important;
    /* Red border for invalid inputs */
    box-shadow: 0 0 5px rgba(167, 22, 22, 0.623) !important;
    /* Red box shadow for emphasis */
}

#errorButton {
    color: rgb(187, 41, 41);
    /* Red color for error message */
}

#fillColor,
#textColor,
#outline-color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: auto;
    height: auto;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

#fillColor::-webkit-color-swatch,
#textColor::-webkit-color-swatch,
#outline-color::-webkit-color-swatch {
    border-radius: 15px;
    border: none;
}

#fillColor::-moz-color-swatch,
#textColor::-moz-color-swatch,
#outline-color::-moz-color-swatch {
    border-radius: 15px;
    border: none;
}

#textFieldSection {
    height: auto;
}

.text__button-group {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor-button {
    width: 200px;
    height: 50px;
    margin-inline: 8px;
    border-radius: 20px;
    background-color: #4caf50;
    outline: none;
    border: none;
    color: white;

    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: .3s ease all;
}

.editor-button:hover {
    background-color: #116129;
}

#text-field-container {
    width: 400px;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Adjust the overlay color and transparency */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    color: white;
    /* Hidden by default */
    transition: opacity 0.3s ease;
    border-radius: inherit;
}

.text-overlay:hover {
    opacity: 1;
}

.text-content {
    max-width: 100%;
    word-wrap: break-word;
}

.red {
    background-color: #c91d1d;
    transition: background-color 0.3s ease-in-out;
}

.red:hover {
    background: #a71616;
}

.btn__container {
    width: 300px;
    height: 60px;
    position: relative;
    display: inline-block;
    /* Ensure the container only takes up the necessary space */
    margin-bottom: 40px;
}


.btn__overlay {
    position: absolute;
    top: 10px;
    /* Adjust top position to align with button */
    left: 10px;
    /* Adjust left position to align with button */
    width: 300px;
    /* Subtract padding from width to fit within container */
    height: 60px;
    /* Subtract padding from height to fit within container */
    /* Adjust the height as needed */
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the opacity and color as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
    font-size: 20px;
}

.btn__container:hover .btn__overlay {
    opacity: 1;
}

.btn__container a {
    width: 100%;
    height: 100%;

}